* {
    font-family: 'Lato', sans-serif;
}

/* paleta 
#072227
#35858B
#4FBDBA
#AEFEFF
*/

body {
    margin: 0% !important;
}

header {
    z-index: 5;
    width: 100%;
    height: 40px;
    background-color: #35858B;
    position: fixed;
}

.nav {
    width: 100%;
    height: 100%;
    background-color: #072227;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nombre {
    width: 550px;
    height: 70px;
    padding: 100px 20px;
    
}

.nav p {
    margin-inline-start: 1em;
    margin-inline-end: 1em;
    font-weight: bold;
    color: #AEFEFF;
}

.lista-nav {
    padding: 10px 20px;
}

.item-nav {
    display: inline-block;
    margin: 0px 5px;
    font-size: 14px;
    color: #4FBDBA;
    background-color:#35858B;
    border-radius: 10px;
    padding: 6px 12px;
}

.item-nav:hover{
    cursor: pointer;
}

.item-nav i {
    margin: 0px 5px;
}

.hero {
    width: 100%;
    height: 100vh;
}
.fondoPerfil {
    position: relative;
    top: 0%;
    width: 100%;
    height: 70%;
    background-image: url(./assets/img/imgFondo.jpg);
    background-position: center;
    background-size: cover;
}

.info {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    size-adjust: cover;
}

.contenedor {
    position: relative;
    top: -150px;
    height: 100px;
    width: 30%;
    padding-left: 30px;

}
.foto{
    position: relative;
    top: 0%;
    height: 200px;
    width: 200px;
}

.contenedor h2 {
    font-style: italic;
    font-size: 30px;
}

.contenedor title {
    font-weight: bold;
    font-size: 80px;
}

.contenedor h3 {
    margin: 5px;
    font-weight: bold;
}

.contenedor h4 {
    margin: 2px;
    color: #868484;
}

.infoCont {
    float: right;
}

.fotoiee {
    position: relative;
    height: 125px;
    width: 250px;
    right: 30px;
    top: 30px;
}

.botones {
    position: relative;
    height: 30px;
    width: 100%;
    top: 20px;
    left: 20px;
}

.botones .lista-nav {
    margin-top: 1px;
    padding: 0px;
}

#educacion {
    position: relative;
    padding-top: 20px;
    padding-left: 15px;
    width: 100%;
    background-color: #4FBDBA;
    padding-right: 100px;

}

p {
    color: rgb(12, 43, 33);
}

h2 {
    color: rgb(12, 43, 33);
    font-weight: 700;
    font-style: italic;
}

h3 {
    color: rgb(12, 43, 33);
    margin-block-end: 10px;
}

.contE {
    display: inline-flex;
    align-items: center;
    padding-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contE p {
    padding-left: 10px;
}

.logoUniv {
    height: 120px;
    width: 120px;
}

#experiencia {
    position: relative;
    padding-top: 20px;
    padding-left: 15px;
    width: 100%;
    background-color: #35858B;
    padding-right: 100px;
}

#servicios {
    position: relative;
    padding-top: 60px;
    width: 100%;
    height: calc( 100vh - 60px );
}

#cursos {
    position: relative;
    padding-top: 30px;
    width: 100%;
}

.cards {
    margin-top: 0px;
    margin: auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    background-color: rgb(196, 93, 93);
    border-radius: 15px;
    margin: 20px;
    width: 33%;
    height: 400px;
    text-align: center;
}

.card > img{
    width: 90%;
    height: 220px;
    border-radius: 15px;
    background-color: white;
    margin-top: 20px;
}

.card > p {
    margin: auto;
    width: 80%;
}